.container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
  }
  
  .progress {
    width: 10%;
    height: 10px;
    background-color: #ddd;
    margin-right: 5px;
  }
  
 .filled {
    background-color: #000000;
  }
  
  .current {
    background-color: #b92a35;
  }